# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/
*.tgz

# Environment variables
.env
config/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Test coverage
coverage/

# Temporary files
tmp/
temp/

# Database files
*.sqlite
*.sqlite3
